@import "../../assets/css/awt.scss";

// Default styles (mobile first):
//     - Video as background
//     - Semitransparent overlay to provide contrast to text

// xs
.wp-block-awt-section-hero {

    min-height: 200px;
    height: 30vh;
    position: relative;
    overflow: auto;
    padding: 0 1rem;
    
    // Overlay
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        z-index: -1;
    }
    
    .bg-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        object-fit: cover;
        object-position: 50% 26%;
    }
    
    & > .container {
        height: 100%;
        max-width: var(--wp--style--global--content-size);
        margin: auto;
        padding: 6.5rem 0 1.5rem;
        overflow: hidden;

        .col {
            justify-content: flex-end;              
        }
    }
}

@include lg {

    .wp-block-awt-section-hero {

        height: 40vh;
        padding: 0 4rem;

        .bg-video {
            object-position: 50% 26%;
        }
        
        & > .container {

            padding: 8.5rem 0 2rem;

            .col {
                
                h1 {
                    margin-bottom: var(--wp--preset--spacing--40);
                }
                
                p{
                    margin-top: 0;
                }
            }
                
        }
        
    }
}