.wp-block-awt-multiple-animated-rich-text {

    // TODO: make background of placeholde semitransparent
    div.components-placeholder {
        background-color: rgba(255,255,255,.75);
    }

    &.is-not-selected {

        .wp-block-awt-animated-rich-text-container {
            display: none;
        }

        .wp-block-awt-animated-rich-text-container:first-child {
            display: block;
        }
    }

}

