.is-style-text a {
    position: relative;
    text-decoration: none;
    color: var(--wp--preset--color--persian-green);
    background-color: transparent;
    text-transform: uppercase;
}

.is-style-text a:hover {
    text-decoration: underline;
    color: var(--wp--preset--color--persian-green);
    background-color: transparent;
}

.is-style-text a:after {
    content: '-->';
    position: absolute;
    right: -100%;
    top: 0;
    transform: translate(0, 50%);
}

.wp-block-button__link {
    border-radius: var(--wp--custom--border-radius);
    padding: 1.2rem !important;
    font-size: var(--wp--preset--font-size--x-small);
    line-height: var(--wp--preset--font-size--small);
    text-transform: uppercase;
}

