.wp-block-quote {
    border-left: none;
    margin: 0 0 3rem;
    padding: 0;
    display: flex;
    align-items: start;
    gap: 3rem;
}

.wp-block-quote:before {
    display: block;
    content: '';
    width: 200px;
    height: 80px;
    background-image: url("../../img/ico-quote.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.wp-block-quote p {
    display: block;
    font-size: var(--wp--preset--font-size--large);
    color: var(--wp--preset--color--ash-grey);
    font-style: italic;
    line-height: 42px;
    margin: 0;
    max-width: 700px !important;

}
