@import "../../assets/css/awt.scss";

// Default styles (mobile first):
//     - Video as background
//     - Semitransparent overlay to provide contrast to text

// xs
.wp-block-awt-section-hero-post {

    min-height: 200px;
    position: relative;
    overflow: auto;
    padding: 2.5rem 1rem 0;   
    
    .bg-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        object-fit: cover;
        object-position: 50% 26%;
    }
    
    & > .container {
        height: 100%;
        max-width: var(--wp--style--global--content-size);
        margin: auto;
        overflow: hidden;
        position: relative;
        z-index: 2;

        .col {
            justify-content: flex-end; 
            
            h1 {
                color: var(--wp--preset--color--floral-white);
                margin-bottom: .5rem;
            }

            p {
                color: var(--wp--preset--color--floral-white);
                font-size: var(--wp--preset--font-size--large);
            }
        }
    }
}

@include lg {

    .wp-block-awt-section-hero-post {

        height: 55vh;
        padding: 0 4rem;

        .bg-video {
            object-position: 50% 26%;
        }
        
        & > .container {

            padding: 8.5rem 0 2rem;

            .col {

                .wp-block-columns {
                    margin-bottom: 0;
                    gap: 2rem;
                  }
                
                h1 {
                    margin-bottom: var(--wp--preset--spacing--40);
                    line-height: 1;
                }
                
                p{
                    margin-top: 0;
                    margin-bottom: 2rem;
                }

                figure {
                    margin-bottom: 0;
                }
            }
                
        }
        
    }
}