@import "../../assets/css/awt.scss";

// Default styles (mobile first):
//     - Video as background
//     - Semitransparent overlay to provide contrast to text

// xs
.wp-block-awt-section-bg-video-home {

    min-height: 500px;
    position: relative;
    overflow: auto;
    padding: 0 1rem;
    
    // Overlay
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        z-index: -1;
    }
    
    .bg-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        object-fit: cover;
        object-position: center;
    }
    
    & > .container {
        height: 100%;
        max-width: var(--wp--style--global--content-size);
        margin: auto;
        padding: 6.5rem 0 6rem;

        .col {
            justify-content: flex-start;              
        }
    }
}

@include lg {

    .wp-block-awt-section-bg-video-home {

        padding: 0 4rem;
        
        & > .container {

            padding: 8.5rem 0;

            .col {
                justify-content: flex-end;              
            }
                
        }
        
    }
}