<!-- wp:awt/section {"backgroundColor":"jet"} -->
<section class="wp-block-awt-section has-jet-background-color has-background"><div class="container"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"85%"} -->
    <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:85%"><!-- wp:awt/rich-text {"textColor":"custom-white","fontSize":"large"} -->
    <h2 class="wp-block-awt-rich-text has-custom-white-color has-text-color has-large-font-size">¿Tienes un proyecto digital y no sabes por dónde empezar? </h2>
    <!-- /wp:awt/rich-text --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
    <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:33.33%"><!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons"><!-- wp:button -->
    <div class="wp-block-button"><a class="wp-block-button__link wp-element-button">💬  CUÉNTANOSLO</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:uagb/image {"block_id":"98569db1","url":"https://amoved.es/wp-content/uploads/2023/05/logo-descripcion-transparente.png","id":35,"linkDestination":"none","naturalWidth":130,"naturalHeight":53,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
    <div class="wp-block-uagb-image uagb-block-98569db1 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="https://amoved.es/wp-content/uploads/2023/05/logo-descripcion-transparente.png " sizes="(max-width: 480px) 150px" src="https://amoved.es/wp-content/uploads/2023/05/logo-descripcion-transparente.png" alt="" class="uag-image-35" width="130" height="53" title="" loading="lazy"/></figure></div>
    <!-- /wp:uagb/image -->
    
    <!-- wp:navigation {"ref":61,"textColor":"custom-white","overlayMenu":"never","layout":{"type":"flex","orientation":"vertical"}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"bottom"} -->
    <div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:uagb/image {"block_id":"835fd24e","url":"https://amoved.es/wp-content/uploads/2023/05/logo-framagit.svg","align":"right","id":148,"linkDestination":"none","sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
    <div class="wp-block-uagb-image alignright uagb-block-835fd24e wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-right"><figure class="wp-block-uagb-image__figure"><img srcset="https://amoved.es/wp-content/uploads/2023/05/logo-framagit.svg " sizes="(max-width: 480px) 150px" src="https://amoved.es/wp-content/uploads/2023/05/logo-framagit.svg" alt="" class="uag-image-148" title="" loading="lazy"/></figure></div>
    <!-- /wp:uagb/image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:paragraph {"textColor":"persian-green"} -->
    <p class="has-persian-green-color has-text-color"></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"bottom"} -->
    <div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:paragraph {"textColor":"custom-white"} -->
    <p class="has-custom-white-color has-text-color">Licensed under a <mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-persian-green-color"><a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></mark></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:uagb/image {"block_id":"a53ed6f9","url":"https://amoved.es/wp-content/uploads/2023/05/cc-sa.png","align":"right","id":146,"linkDestination":"none","naturalWidth":88,"naturalHeight":31,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
    <div class="wp-block-uagb-image alignright uagb-block-a53ed6f9 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-right"><figure class="wp-block-uagb-image__figure"><img srcset="https://amoved.es/wp-content/uploads/2023/05/cc-sa.png " sizes="(max-width: 480px) 150px" src="https://amoved.es/wp-content/uploads/2023/05/cc-sa.png" alt="" class="uag-image-146" width="88" height="31" title="" loading="lazy"/></figure></div>
    <!-- /wp:uagb/image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div></section>
    <!-- /wp:awt/section -->