               
<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group awt-footer awt-section-container">      
    <!-- wp:group {"layout":{"type":"constrained","allowOrientation":false}} -->
    <div class="wp-block-group">
        <!-- wp:columns -->
        <div class="wp-block-columns awt-contact-cta">
            <!-- wp:colum {"width":"85%"} -->
            <div class="wp-block-column awt-f-col awt-ai-fs" style="flex-basis:85%; align-items: flex-start; flex-direction: column;">
                <!-- wp:heading {"level": 3} -->
                <h3>¿Tienes un proyecto digital y no sabes por dónde empezar?</h3>
                <!-- /wp:heading -->
                <!-- wp:paragraph --><p>Escríbenos a <a class="awt-text-link" href="mailto:estudio@amoved.es">estudio@amoved.com</a> o llama al <a class="awt-text-link" href="callto: +34123456789">+34 123 456 789</a></p><!-- /wp:paragraph -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:buttons -->
                <div class="wp-block-buttons">
                <!-- wp:button -->
                <div class="wp-block-button"><a class="wp-block-button__link">💬 Cuéntanoslo</a></div>
                <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->
            </div>
            <!-- /wp:column -->

        </div>
        <!-- /wp:columns -->

        <!-- wp:columns -->
        <div class="wp-block-columns">
            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:site-logo /-->
                <!-- wp:navigation /-->
                <!-- wp:paragraph --><p><a class="awt-text-link" href="https://www.websitecarbon.com/website/amoved-es/">🌱 Esta página carga en 3,89 segundos y emite 0,07g de CO2</a></p><!-- /wp:paragraph -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:paragraph --><p>Licenciada bajo<a class="awt-text-link" href="">[enlace a licencia]</a></p><!-- /wp:paragraph -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->

    </div>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->