
<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div id="awt-header" class="wp-block-group awt-light-bg awt-header">
        <!-- wp:group {"layout":{"type":"constrained","allowOrientation":false}} -->
        <div class="wp-block-group alignwide">
                <!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
                <div class="wp-block-group">
                        <!-- wp:site-logo {"level":0} /-->
                        <!-- Atributo para colapsar el menu siempre: "overlayMenu":"always", -->
                        <!-- wp:navigation {"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"right"}} -->
                                <!-- wp:page-list /-->
                        <!-- /wp:navigation -->
                </div>
        </div>
        <!-- /wp:group -->
</div>
<!-- /wp:group -->