<!-- wp:columns {"className":"awt-header"} -->
<div class="wp-block-columns awt-header"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:uagb/image {"block_id":"23f8d07c","url":"https://amoved.es/wp-content/uploads/2023/05/logo-descripcion-transparente.png","id":244,"linkDestination":"none","naturalWidth":130,"naturalHeight":53,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-23f8d07c wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png " src="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png" alt="" class="uag-image-244" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:navigation {"textColor":"custom-white","icon":"menu","layout":{"type":"flex","justifyContent":"right","flexWrap":"nowrap","orientation":"horizontal"}} -->
<!-- wp:page-list /-->
<!-- /wp:navigation --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->