<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group awt-positioned-group awt-bg-overlay">
    
    <!-- wp:columns -->
    <div class="wp-block-columns awt-container-columns">
        <!-- wp:video -->
        <figure class="wp-block-video awt-bg-video"></figure>
        <!-- /wp:video -->

        <!-- wp:column {"width":"60%"} -->
        <div class="wp-block-column" style="flex-basis: 60%;">
            <!-- wp:heading {"level": 1, "align":"wide"} -->
            <h1 class="alignwide awt-mb-20">Un taller digital <br> para tus proyectos</h1>
            <!-- /wp:heading -->
            <!-- wp:group -->
            <div class="wp-block-group awt-flex-row">
                <!-- wp:heading {"level":3,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}, "color":{"text":"var(--wp--preset--color--white)"}},"fontSize":"large"} -->
                <h3 class="alignwide has-large-font-size awt-mt-0" style="font-style:normal;font-weight:300;color:var(--wp--preset--color--white)">Infraestructura digital&nbsp;</h3>
                <!-- /wp:heading -->
                <!-- wp:heading {"level":3,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}, "color":{"text":"var(--wp--preset--color--white)"}},"fontSize":"large"} -->
                <h3 class="alignwide has-large-font-size awt-mt-0" style="font-style:normal;font-weight:500;color:var(--wp--preset--color--white)">Comunitaria</h3>
                <!-- /wp:heading -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
            <div class="wp-block-group">
                <!-- wp:paragraph {"style":{"color":{"text":"var(--wp--preset--color--white)"}} --><p style="color:var(--wp--preset--color--white)">¿Tienes un proyecto y no sabes por dónde empezar?</p><!-- /wp:paragraph -->
                <!-- wp:buttons -->
                <div class="wp-block-buttons">
                    <!-- wp:button -->
                    <div class="wp-block-button"><a class="wp-block-button__link">💬 Cuéntanoslo</a></div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

</div>
<!-- /wp:group -->