<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group">
   
    <!-- wp:columns -->
    <div class="wp-block-columns awt-positioned-cols awt-hero-basic-cols">

        <!-- wp:column {"width": "33.33%"} -->
        <div class="wp-block-column">
            <!-- wp:heading {"level": 1, "align":"wide"} -->
            <h1 class="alignwide">Hacemos</h1>
            <!-- /wp:heading -->
            <!-- wp:heading {"level": 2, "align":"wide"} -->
            <h2 class="alignwide">Trabajamos para mejorar las relaciones con la vida digital poniendo a las personas en el centro.</h2>
            <!-- /wp:heading -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width": "50%"} -->
        <div class="wp-block-column">
           <!-- wp:image -->
           <figure class="wp-block-image"><img alt=""/></figure>
           <!-- /wp:image -->
        </div>
        <!-- /wp:column -->

    </div>
    <!-- /wp:columns -->

</div>
<!-- /wp:group -->