//------------//
// This file contains design system classes //
//------------//
@use "sass:math";

$prefix: "awt";

//--------------//
// Media querys //
//--------------//
$breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
);

@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) {
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
        @content;
    }
}

//-------------//
// Grid system //
//-------------//

$grid-columns: 12;

@include xs {
    @for $i from 1 through $grid-columns {
        .#{$prefix}-col-#{$i} {
            flex-basis: math.div($i * 100%,$grid-columns);
        }
    }
}

@include sm {
    @for $i from 1 through $grid-columns {
        .#{$prefix}-col-sm-#{$i} {
            flex-basis: math.div($i * 100%,$grid-columns);
        }
    }
}

@include md {
    @for $i from 1 through $grid-columns {
        .#{$prefix}-col-md-#{$i} {
            flex-basis: math.div($i * 100%,$grid-columns);
        }
    }
}

@include lg {
    @for $i from 1 through $grid-columns {
        .#{$prefix}-col-lg-#{$i} {
            flex-basis: math.div($i * 100%,$grid-columns);
        }
    }
}

@include xl {
    @for $i from 1 through $grid-columns {
        .#{$prefix}-col-xl-#{$i} {
            flex-basis: math.div($i * 100%,$grid-columns);
        }
    }
}


//---------//
// General //
//---------//

:root {
    scroll-behavior: smooth;
    
    --swiper-pagination-color: #179D88;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: #2B2B2B;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    --swiper-pagination-bullet-vertical-gap: 6px;
        
}

body.post-type-page .editor-styles-wrapper .block-editor-block-list__layout.is-root-container.wp-block-post-content > * {
    max-width: none !important;
}


//------------//
// Flex utils //
//------------//

.flex,
.row {
    display: flex;
    max-width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.jc-fw {
    justify-content: flex-end;
}

.ai-fw {
    align-items: flex-end;
}

.hidden {
    display: none !important;
}

//---------------//
// Global styles //
//---------------//

.separator::after {
    content: '';
    display: block;
    width: 5rem;
    height: .25rem;
    margin-top: 1rem;
    background-color: var(--wp--preset--color--ash-grey);
    
}

.separator.translate-left::after {
    transform: translate(-3rem);
}

.img-shadow-1 {
    box-shadow: 8px 8px 38px 5px rgba(0, 0, 0, 0.25);
}

.img-shadow-2 {
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.25);
}