:root {
    --hs-container-final-height: 80vh;
    --hs-container-negative-final-height: -80vh;
    --hs-container-final-width: 1200px;
    --scrollbar-height: 1px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

#proyectos,
#newsletter {
    scroll-margin-top: var(--wp--custom--spacing-120);
}

.awt-section-container {
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0;
}

.awt-section-container > .is-layout-constrained {
    margin: var(--wp--custom--spacing-120) auto;
    width: 100%;
}

.awt-section-container > .is-layout-constrained h2 {
    margin-top: 0;
}

.awt-bg-overlay {
    background: rgba(0,0,0,0.6);
}

.awt-flex-row {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.awt-f-row-rev {
    width: 100%;
    flex-direction: row-reverse;
}

.awt-f-col {
    flex-direction: column;
} 

.awt-ai-fs {
    align-items: flex-start;
}

.awt-m-0 {
    margin: 0;
}

.awt-y-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.awt-mt-0 {
    margin-top: 0;
}

.awt-mt-20 {
    margin-top: var(--wp--preset--spacing--20);
}

.awt-mb-0 {
    margin-bottom: 0;
}

.awt-mb-20 {
    margin-bottom: var(--wp--preset--spacing--20);
}

.awt-mb-80 {
    margin-bottom: var(--wp--preset--spacing--80);
}

.awt-pl-0 {
    padding-left: 0;
}

.awt-pr-40 {
    padding-right: var(--wp--preset--spacing--40);
}

.awt-pr-60 {
    padding-right: var(--wp--preset--spacing--60);
}

.awt-pt-80 {
    padding-top: var(--wp--preset--spacing--80);
}

.awt-has-texture {
    background-image: url('../svg/textura1.svg');
}

.awt-light-bg {
    background-color: var(--wp--preset--color--timberwolf);
}

.awt-dark-bg {
    background-color: var(--wp--preset--color--onyx);
}

.awt-dark-bg h2 {
    color: var(--wp--preset--color--ash-grey);
}

.awt-dark-bg h3,
.awt-dark-bg p {
    color: var(--wp--preset--color--floral-white);
}

.awt-big-p {
    margin-top: 0;
    margin-bottom: var(--wp--preset--spacing--100);
}

.awt-header {
    margin: 0 auto;
    padding: var(--wp--preset--spacing--60) 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: var(--wp--preset--content-size);
    transform: translate(-50%,0);
    z-index: 900;
    transition: all .4s ease-in-out;
}

.awt-header.scrolled {
    background-color: var(--wp--preset--color--persian-green);
    padding: var(--wp--preset--spacing--20) 0;

}

.awt-header > .wp-block-group {
    width: 100%;
}

.awt-header nav ul.wp-block-page-list {
    gap: var(--wp--preset--spacing--40);
}

.awt-header nav a > span {
    color: var(--wp--preset--color--white);
}

#servicios .wp-block-group > .wp-block-columns {
    gap: 1rem;
}

.awt-service-card {
    background-color: var(--wp--preset--color--floral-white);
    border-radius: var(--wp--custom--border-radius);
    padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--30);
    height: 100%;
    min-height: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start !important;
}

.awt-service-card > *:last-child {
    margin-top: auto;
}

.awt-card-title {
    position: relative;
    margin-bottom: var(--wp--preset--spacing--20) !important;
    display: flex;
    gap: .5rem;
}

.awt-card-title::after {
    content: '';
    background-color: var(--wp--preset--color--ash-grey);
    width: 100px;
    height: 4px;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.awt-card-title h3 {
    margin-top: 0 !important;
}

.awt-link-button {
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--wp--preset--color--persian-green);
    font-weight: 600;
    font-size: 14px;
}

.awt-link-button::after {
    content: url("../svg/arrow.svg");
    position: relative;
    right: -1rem;
    color: var(--wp--preset--color--persian-green);
    transition: .4s all ease;
}

.awt-link-button:hover::after {
    right: -1.5rem;
}

#valores h2 {
    margin-bottom: var(--wp--preset--spacing--60);
}

.awt-values-row {
    gap: 5rem;
}

.awt-values-row h3 {
    margin-top: 0;
}

.awt-values-row + .awt-values-row {
    margin-top: var(--wp--preset--spacing--80);
}

.awt-values-row > .wp-block-column {
    flex-direction: column;
}

.awt-values-row + .awt-values-row {
    margin-top: var(--wp--preset--spacing--80);
}

#proyectos p {
    line-height: 2rem;
    font-weight: 400;
}

#proyectos .swiper-slide figure img {
    object-fit:contain;
    max-height: 500px; 

}

#proyectos .swiper-pagination {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
}

#proyectos .swiper-button-next, 
#proyectos .swiper-button-prev{
    color: var(--wp--preset--color--persian-green);
}

#proyectos .swiper-pagination-bullet-active {
    background: var(--wp--preset--color--persian-green);
}

.awt-quote-footer {
    margin-bottom: var(--wp--preset--spacing--100);
 }


.awt-quote-footer .wp-block-column:nth-child(2) {
    max-width: 82px;
 }

.awt-quote-footer img {
   border-radius: 50%;
   max-width: 82px;
   max-height: 82px;
}

.awt-banner {
    background-color: var(--wp--preset--color--persian-green);
    color: var(--wp--preset--color--white);
    border-radius: var(--wp--custom--border-radius);
    padding: var(--wp--preset--spacing--100) var(--wp--preset--spacing--70);
}

.awt-banner .wp-block-columns {
    gap: 1rem;
}

.awt-banner .wp-block-column,
.awt-contact-cta .wp-block-column {
    display: flex;
    align-items: center;
}

.awt-banner h2,
.awt-banner p {
    color: var(--wp--preset--color--white);
}

.awt-banner input {
    width: 100%;
    font-size: var(--wp--preset--font-size--small);
    padding: 1rem;
    line-height: var(--wp--preset--font-size--small);
}

.awt-last-dark-section {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.awt-footer {
    background-color: var(--wp--preset--color--jet);
}

.awt-footer h3,
.awt-footer p {
    color: var(--wp--preset--color--white);
    margin: 0;
    display: block;
}

.awt-footer h3 {
    letter-spacing: -0.025em;
    margin-bottom: .5rem;
}

.awt-footer p {
    font-size: var(--wp--preset--font-size--small);
}

.awt-footer .awt-contact-cta > .wp-block-column:last-child {
    justify-content: flex-end;
}

.awt-text-link {
    color: var(--wp--preset--color--persian-green);
}

.awt-contact-cta .awt-text-link {
    text-decoration: none;
}

.awt-footer .wp-block-site-logo {
    margin-top: var(--wp--preset--spacing--70);
    margin-bottom: var(--wp--preset--spacing--20);
}

.awt-footer .wp-block-columns:last-child > .wp-block-column:last-child  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.awt-footer nav.wp-block-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: var(--wp--preset--spacing--40);
}

.awt-footer nav.wp-block-navigation li > a {
    color: var(--wp--preset--color--white);
    font-size: var(--wp--preset--font-size--x-small);
    line-height: 1.5rem;
}

@media screen and (max-width: 764px) {
    body {
        --wp--preset--spacing--10: .25rem;
        --wp--preset--spacing--20: .5rem;
        --wp--preset--spacing--30: .75rem;
        --wp--preset--spacing--40: 1rem;
        --wp--preset--spacing--50: 1.25rem;
        --wp--preset--spacing--60: 1.5rem;
        --wp--preset--spacing--70: 1.75rem;
        --wp--preset--spacing--80: 2rem;
        --wp--preset--spacing--90: 2.25rem;
        --wp--preset--spacing--100: 2.5rem;
        --wp--custom--border-radius: 2.75rem;
        --wp--custom--spacing-110: 3rem;
        --wp--custom--spacing-120: 3.25rem;
    }

}



