@import "awt";

* {
    box-sizing: border-box;
}

@include xs {

    //--------//
    // Global //
    //--------//

    // Change css variables on breakpoints
    body {
        --wp--preset--font-size--x-small: clamp(.625rem,.75rem,.875rem);
        --wp--preset--font-size--small: clamp(.875rem,1rem,1.125rem);
        --wp--preset--font-size--medium: clamp(1.125rem,1.25rem,1.375rem);
        --wp--preset--font-size--large: clamp(1.375rem,1.5rem,1.75rem);
        --wp--preset--font-size--x-large: clamp(1.75rem,2rem,2.25rem);
        --wp--preset--font-size--xx-large: clamp(2rem,2.5rem,3rem);
    }

    //--------//
    // Inicio //
    //--------//

    .home {

        .wp-block-awt-section-bg-video-home {

            height: 100vh;

            &:before {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.85) 100%);
            }

            .bg-video {
                object-position: 87% 50%;
            }
            
            & > .container {
                
                .col {

                    h1 {
                        margin-top: 0;
                        margin-bottom: 1rem;
                        font-size: var(--wp--preset--font-size--x-large);
                    }
                    h3 {
                        margin-top: 0;
                        font-weight: 300;
                        font-size: var(--wp--preset--font-size--medium);
                        
                        strong {
                            font-weight: 500;
                        }
                    }

                    div:last-child {
                        align-items: flex-start;
                    }
                        
                }
            }
        }

        .services-section {   

            & > .container > p {
                margin-top: 1rem;
                margin-bottom: 3rem;
            }

            .services-cards {
    
                justify-content: center;
                flex-wrap: wrap !important;
                gap: 2rem;
    
                .service-card {
                    max-width: 500px;
                    padding: 3rem 2rem; 
                    border-radius: .5rem;
                    background-color: var(--wp--preset--color--floral-white);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    .wp-block-uagb-image {
                        display: inline-block;
                        width: 2rem;
                        height: 2rem;
                    }
                    
                    h3 {
                        display: inline-block;
                        margin-top: 0;
                    }
                    
                    h3::after {
                        content: '';
                        position: relative;
                        left: -2.5rem;
                        display: block;
                        width: 5rem;
                        height: .25rem;
                        margin-top: 1rem;
                        background-color: var(--wp--preset--color--ash-grey);
                        
                    }
    
                    p {
                        font-weight: 300;
                    }
                    
                }

                .service-card:first-child {
                    background-image: url("https://amoved.es/wp-content/uploads/2023/05/blob-background-services-card-1.svg");    
                }

                .service-card:nth-child(2) {
                    background-image: url("https://amoved.es/wp-content/uploads/2023/09/blob-background-services-card-3.svg"); 
                }

                .service-card:last-child {
                    background-image: url("https://amoved.es/wp-content/uploads/2023/05/blob-background-services-card-2.svg"); 
                }
            }
        }

        .values-section {

            background-image: url("https://amoved.es/wp-content/uploads/2023/05/blob-background-values.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;  

            .wp-block-columns {
                gap: 1rem;
                margin-bottom: 0;
            } 

            h3 {
                margin-top: 0;
            }

            p {
                font-weight: 300;
            }
        }

        .case-studies-section {

            h2 {
                margin-bottom: var(--wp--preset--spacing--20);
            }

            p {
                margin-top: var(--wp--preset--spacing--20);
                margin-bottom: var(--wp--preset--spacing--60);
            }

            swiper-slide {
                
                .wp-block-columns {

                    flex-direction: column-reverse;
                    gap: var(--wp--preset--spacing--40);

                    .wp-block-uagb-image {
                        margin-inline-start: 0;
                    }

                    .wp-block-column:first-child {
                        
                        .link-styled-btn {
                            text-align: right;
                        }
                    }
                }
                
            }
        }

        .last-section {

            .partners-container {
                
                margin-bottom: var(--wp--preset--spacing--100);
                flex-wrap: wrap !important;
                gap: 2rem;

                & > .wp-block-column {
                    flex-basis: auto !important;
                }

            }

            .newsletter {
                border-radius: .5rem;
            }
        }

    }

    //---------//
    // Hacemos //
    //---------//

    body.page-id-10 {

        h3 {
            margin-top: var(--wp--preset--spacing--80);
        }

        .wp-block-awt-dropdown-card {
            .wp-block-image img {
                height: auto !important;
            }
        }

        .awt-call-to-action {
            margin-top: var(--wp--preset--spacing--60);
        }

        .digitalization-section {

            .wp-block-columns {
                gap: var(--wp--preset--spacing--40);
            }
            
            .wp-block-column:last-child {

                display: flex;
                align-items: center;

                figure {
                    margin-bottom: 0;
                }

            }

        }
    }

    //-------//
    // Somos //
    //-------//

    body.page-id-8 {

        .bio-section {

            .wp-block-columns {
                gap: var(--wp--preset--spacing--80);
            }
        }

        .team-section {

            & > .container {

                h2 {
                    margin: 6rem 0 4rem;
                }

                h2:first-child {
                    margin-top: 2.5rem;
                }
                
                & > .wp-block-columns {
                    
                    justify-content: space-evenly;
                    gap: 4rem;
                
                    & > .wp-block-column {

                        flex-basis: 33.33%;
                        max-width: 300px;
                        
                        & > .wp-block-uagb-image {
                            
                            img {
                                
                                width: 300px;
                                height: 300px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        
        
        .ess-section {
        

            .wp-block-columns {
                gap: var(--wp--preset--spacing--40);
            }
            
            .wp-block-column:last-child {

                display: flex;
                align-items: center;

                figure {
                    margin-bottom: 0;
                }

            }

        }
    }


    //----------//
    // Contacto //
    //----------//
    .page-id-493 {
        .entry-content {
            .wp-block-awt-section:nth-child(2) .wp-block-columns {
                margin-top: 3rem;
                
                .wp-block-column {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    //------//
    // Post //
    //------//

    .single-post {

        .entry-content {

            section {

                .wp-block-uagb-image > figure > img {
                    width: auto;
                    margin-bottom: 1rem;
                    box-shadow: 0 5px 20px rgba(59, 59, 59, 0.53);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &.has-persian-green-background-color {
                    p a {
                        color: var(--wp--preset--color--floral-white);
                        font-weight: 700;
                    }
                }
            }



        }
    }

    //-----------------//
    // Caso de estudio //
    //-----------------//

    .single-case-study {
        .entry-content {

            .wp-block-columns {
                gap: 2.5rem;
            }

            .wp-block-uagb-image {

                margin: 3rem 0 2rem;

                img {
                    box-shadow: 8px 8px 38px 5px rgba(0, 0, 0, 0.25);
                }

                figcaption {
                    margin-top: 2.5rem;
                    text-align: left;
                    font-size: var(--wp--preset--font-size--x-small);
                }
            }

            & > h2.wp-block-awt-rich-text {
                margin-top: 3rem;
            }

            & > .wp-block-awt-rich-text,
            & > ul,
            & > p {
                max-width: 100%;
                margin-bottom: 2rem;
            }

            & > p {
                line-height: 1.5rem;
            }
        }
    }

    //-----//
    // 404 //
    //-----//
    .error404 {
        .section-404 {

            .wp-block-awt-rich-text {
                margin: 1rem 0;
            }
            
            .wp-block-awt-rich-text + p {
                max-width: 550px;
                margin: 0 auto 2rem auto;
            }

            .video-404-container {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .video-404 {
                    margin: 0;
                }
            }
        }
    }

    //---------//
    // Enlaces //
    //---------//
    body.page-id-644 {
        #enlaces {
            .wp-block-columns {
                margin: 2rem 0;
                
                .wp-block-buttons {
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        }
    }

    //---------------------//
    // User defined blocks //
    //---------------------//

    .wp-user-block-awt-testimonials-carrousel {

        swiper-slide {

            & > .wp-block-columns:first-child {

                gap: 1rem;
                margin-bottom: 0;

                .wp-block-column:first-child {
                    
                    max-width: 5rem;

                }

                .wp-block-column:last-child {
                    
                    p {
                        margin: 1rem 0;
                    }
                    
                }
            }

            & > .wp-block-columns:last-child {

                gap: 1rem;

                .wp-block-column:nth-child(2){
                    
                    max-width: 5rem;

                    .wp-block-uagb-image {
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }

                .wp-block-column:last-child {
                    
                    h4 {
                        margin-top: 0;
                        margin-bottom: .25rem;
                    }
                    h5 {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .wp-user-block-awt-transparent-cta {
        flex-direction: column;
        align-items: flex-start;
        gap: .75rem;
        max-width: 75%;
        margin-top: auto;
        
        p {
            line-height: 1.5rem !important;
            text-align: left;
        }
    }

    .wp-user-block-awt-case-study-summary {
        
        & > .wp-block-columns {
            gap: 12%;
            margin-bottom: 3rem;

            .wp-block-columns {
                margin-bottom: 0;
                gap: 0;
            }

            ul {

                margin-top: 1.5rem;

                li {
                    margin-bottom: 1rem;
                }
            }

            h5 {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        & > .wp-block-columns:first-child .wp-block-columns > .wp-block-column:last-child p {
            margin: 0;
        }
    }

    //--------------------------//
    // Core blocks and elements //
    //--------------------------//

    .wp-block-button {
        .wp-block-button__link {

            padding: 1.25rem 1.5rem;
            border-radius: .5rem;
            text-transform: uppercase;
            font-weight: 700;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: var(--wp--preset--color--bottle-green) !important;
            }
        }
    }

    .link-styled-btn,
    .link-styled-text,
    li,
    p {

        a {
            color: var(--wp--preset--color--persian-green);
            text-decoration: none;
            transition: all .4s ease-in-out;

            &:visited {
                color: var(--wp--preset--color--bottle-green);
            }
        }

        
    }

    .link-styled-btn {

        margin: auto 0 0;

        a {
            display: inline-block;
            margin-top: auto;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;

            &:visited {
                color: var(--wp--preset--color--persian-green);
            }
        }

        &:hover > a {
            text-decoration: underline;
        }

        &::after {
            content: '';
            display: inline-block;
            position: relative;
            left: 0;
            height: 14px;
            width: 25px;
            margin-left: .5rem;
            color: var(--wp--preset--color--bottle-green);
            text-decoration: none;
            background-image: url('https://amoved.es/wp-content/uploads/2023/05/flecha-boton-enlace.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .2s ease-in-out;
        }

        &:hover::after {
            left: 6px;
        }
    }

    .link-styled-text {

        margin: auto 0 0;

        & > a:visited {
            color: var(--wp--preset--color--ash-grey);
        }

        &:hover > a {
            text-decoration: underline;
        }
    }

    p {

        a {

            &:visited {
                color: var(--wp--preset--color--ash-grey);
            }

            &:hover {
                text-decoration: underline;
            }
        }

        
    }

    .awt-call-to-action {

        border-radius: .5rem;

        .wp-block-button {
            .wp-block-button__link {
    
                &:hover {
                    background-color: var(--wp--preset--color--jet) !important;
                }
            }
        }

    }

    .awt-cta-card {
        max-width: 500px;
        padding: 2rem 1.5rem;
        border-radius: .5rem;
        background-color: var(--wp--preset--color--floral-white);
        
        .wp-block-awt-rich-text {
            display: inline-block;
            margin-top: 0;
        }
        
        .wp-block-awt-rich-text::after {
            content: '';
            position: relative;
            left: -3rem;
            display: block;
            width: 5rem;
            height: .25rem;
            margin-top: 1rem;
            background-color: var(--wp--preset--color--ash-grey);
        }

        p {
            font-weight: 300;
        }

        .wp-block-buttons{
            flex-wrap: nowrap;

            .wp-block-button {
                width: 50%;

                &:first-child {
                    a {
                        border: 3px solid var(--wp--preset--color--persian-green);
                        background-color: var(--wp--preset--color--floral-white);
                        color: var(--wp--preset--color--persian-green);
                    }
                }

                a {
                    width: 100%;
                    border: 3px solid var(--wp--preset--color--persian-green);
                    background-color: var(--wp--preset--color--persian-green);
                    color: var(--wp--preset--color--floral-white);

                    &::before {
                        content: '\f08e';
                        font-family: ForkAwesome;
                        display: inline-block;
                        margin-right: .5rem;
                    }

                    &:hover {
                        border: 3px solid var(--wp--preset--color--bottle-green);
                        color: var(--wp--preset--color--floral-white);
                    }
                    
                }
            }
        }
    }

    .wp-block-awt-section-hero {

        .wp-block-awt-rich-text {
            margin: 0 0 1rem;
        }

        p {
            margin: 0;
            font-size: var(--wp--preset--font-size--small) !important;
        }

    }

    .wp-block-awt-section {

        h2 {
            margin-bottom: 1rem;
        }

    }

    .wp-block-awt-dropdown-card {

        &[data-collapsed="true"] > .container {
            height: 9.5rem;
        }

        &[data-blocked="true"] > .container {
            height: auto;
        }

        & > .container {
            transition: all .4s ease-in-out;
        }

        &.has-davys-grey-background-color[data-collapsed="false"],
        &.has-davys-grey-background-color[data-collapsed="false"]:hover {
            background-color: var(--wp--preset--color--jet) !important;
        }

        &.has-davys-grey-background-color[data-blocked="true"] {
            background-color: transparent !important;
        }

        &.has-davys-grey-background-color:hover {
            background-color: var(--wp--preset--color--onyx) !important;
        }

        .wp-block-image {
            margin-top: 1rem;
        }
        .wp-block-uagb-image {
            margin: 1rem;
        }
    

    }

    .wp-block-awt-fork-awesome-icon {

        transition: all .2s ease-in-out;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            color: var(--wp--preset--color--bottle-green) !important;
        }
    

    }

    //----------------//
    // Template parts //
    //----------------//

    header {

        position: fixed;
        top: 0;
        width: 100%;
        padding: var(--wp--preset--spacing--10) 1rem;
        transition: all .4s ease-in-out;
        z-index: 9999;

        .awt-site-logo-white img {
            height: 60px;
        }
        
        &.scrolled {
            padding: .25rem 1rem;
            background-color: var(--wp--preset--color--persian-green);
            box-shadow: 0 5px 20px #3b3b3b88;

            .cta-btn > a {
                background-color: var(--wp--preset--color--davys-grey);
                color: var(--wp--preset--color--floral-white);
    
                &:hover {
                    background-color: var(--wp--preset--color--bottle-green);
                }
            }
        }

        div.wp-block-navigation__responsive-container.is-menu-open {
            background-color: var(--wp--preset--color--bottle-green) !important;

            .wp-block-navigation__responsive-container-close svg{
                color: var(--wp--preset--color--floral-white);
            }
            
            .wp-block-navigation__responsive-container-content {
                .wp-block-navigation__container {
                    gap: 1rem;
                    
                    .wp-block-navigation-item span {
                        font-size: var(--wp--preset--font-size--x-large);
                    }

                    .cta-btn a {
                        background-color: transparent;
                    }
                }
            }
        }

        & > .awt-header:not(.is-not-stacked-on-mobile) {

            max-width: var(--wp--style--global--content-size);
            margin: auto;
            flex-direction: row !important;

            figure {
                margin: 0;
            }
            
            & > .wp-block-column {

                width: auto;
                flex-basis: auto !important;

                li + li > a {
                    margin-left: 2rem;  
                }
            }
        }

        .cta-btn > a {
            padding: .5rem 1rem;
            border-radius: .25rem;
            background-color: var(--wp--preset--color--persian-green);
            color: var(--wp--preset--color--floral-white);
            transition: all .4s ease-in-out;

            &:hover {
                background-color: var(--wp--preset--color--bottle-green);

            }
        }
    }

    footer {

        h2 {
            margin-top: 0;

            & + p {
                margin-bottom: 0;
            }
        }

        #newsletter {

            .wp-block-column{
                display: flex;
                justify-content: flex-start;
                padding: 2rem 1rem;
                border-radius: .5rem;
                
                #newsletter-form {
                    width: 100%;
                    
                    .awt-newsletter-fields {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        justify-content: flex-start;
                        align-items: flex-start;
                        font-size: var(--wp--preset--font-size--medium);

                        & > *:first-child {
                            margin-right: auto;
                        }

                        p {
                            margin: 0;
                            text-align: left;

                            span.rss-and-fediverse-note {
                                font-size:14px;

                                a {
                                    color: var(--wp--preset--color--floral-white); 
                                    font-weight:700;
                                }
                            }

                            input {
                                height: 100%;
                                padding: .5rem;
                                border: none;
                                font-size: var(--wp--preset--font-size--small);
                            }
                        }
                    }

                    .awt-newsletter-hidden-fields {
                        display: none;
                    }
                }
            }
        }

        .awt-site-logo-white img {
            height: 50px;
            margin: 4rem 0 2rem;
        }

        .wp-block-columns:nth-child(2) {
            .wp-block-column:last-child {
                display: flex;
                align-items: center;

                .wp-block-awt-fork-awesome-icon {
                    margin-top: 1rem;
                    margin-left: 1rem !important;

                    &:first-child {
                        margin-left: 0 !important;
                    }
                }
            }
        }

        .wp-block-columns:last-child {
            .wp-block-column:last-child {
                display: flex;
                align-items: center;
                
                p {
                    text-align: right;
                }

                .wp-block-uagb-image {
                    align-self: unset;
                }
            }
        }

        .license-img img{
            height: 38px !important;
            width: 100px !important;
            max-width: none !important;
        }
    }

    //-----------------//
    // Utility classes //
    //-----------------//

    .no-shadow {
        box-shadow: none !important;
        
        & img {
            box-shadow: none !important;
        }
    }
}

@include md {

    //--------//
    // Global //
    //--------//

    body {
        --wp--preset--font-size--x-small: .75rem;
        --wp--preset--font-size--small: 1rem;
        --wp--preset--font-size--medium: 1.5rem;
        --wp--preset--font-size--large: 2rem;
        --wp--preset--font-size--x-large: 2.75rem;
        --wp--preset--font-size--xx-large: 3.5rem;
    }

    //--------//
    // Inicio //
    //--------//

    .home {

        .wp-block-awt-section-bg-video-home {

            min-height: 575px;
            height: 70vh;

            &:before {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0.2) 100%); 
            }

            & > .container {
                
                .col {

                    h1 {
                        font-size: var(--wp--preset--font-size--xx-large);
                    }
                    h3 {
                        margin-bottom: 2rem;
                        font-size: var(--wp--preset--font-size--large);
                    }

                    div:last-child {
                        align-items: center;
                    }
                     
                }
                
            }
        }

        .wp-user-block-awt-transparent-cta {
            flex-direction: row;
            align-items:center;
            gap: 2rem;
            max-width: 100%;
            margin-top: unset;
            margin-bottom: unset;
        }

        .services-section {

            .services-cards {
                
                gap: 1rem;
                
                .service-card {
                    min-width: 380px;
                }
            }
        }  
        
        .case-studies-section {

            swiper-slide {
                
                .wp-block-columns {

                    flex-direction: row;
                    gap: var(--wp--preset--spacing--80);

                    .wp-block-column:first-child {
                        padding-top: var(--wp--preset--spacing--60);
                       
                    }
                }
                
            }
        }

        .last-section > .container {
            padding: var(--wp--preset--spacing--100) 0 0;
        }
    }

    //---------//
    // Hacemos //
    //---------//

    body.page-id-10 {

        h3 {
            margin-top: var(--wp--preset--spacing--100);
        }

        .awt-call-to-action {
            margin-top: var(--wp--preset--spacing--100);
        }

        .digitalization-section {

            .container {

                padding-top: calc(var(--wp--preset--spacing--80) + 2.5rem);

                .wp-block-columns {
                    gap: var(--wp--preset--spacing--60);
                }
                
                h2 {
                    margin-top: 0;
                }
            }

        }
    }

    //-------//
    // Somos //
    //-------//

    body.page-id-8 {
        .team-section {
            & > .container {
                & > .wp-block-columns { 
                    gap: 4rem;
                    justify-content: space-between;

                    &:first-of-type {
                        justify-content: space-evenly;
                    }
                }
            }
        }

        .ess-section {

            .container {

                padding-top: calc(var(--wp--preset--spacing--80) + 2.5rem);

                .wp-block-columns {
                    gap: var(--wp--preset--spacing--60);
                }
                
                h2 {
                    margin-top: 0;
                }
            }

        }
    }

    //-----------------//
    // Caso de estudio //
    //-----------------//

    .single-case-study {
        .entry-content {
            & > .wp-block-awt-rich-text,
            & > ul,
            & > p {
                max-width: 66.66%;
            }
        }
    }

    //---------//
    // Enlaces //
    //---------//
    body.page-id-644 {
        #enlaces {
            .wp-block-columns {
                .wp-block-buttons {
                    flex-direction: row;
                }
            }
        }
    }

    //--------------------------//
    // Core blocks and elements //
    //--------------------------//

    .wp-block-awt-dropdown-card {

        &[data-collapsed="true"] > .container {
            height: 5.5rem;
        }

        &[data-blocked="true"] > .container {
            height: auto;
        }

        .container > .wp-block-columns > .wp-block-column:nth-child(2) >.wp-block-columns {
            gap: 2rem;
            
            .wp-block-column {
                padding: 1rem;
            }
        }

    }

    .wp-block-awt-section-hero {

        p {
            font-size: var(--wp--preset--font-size--large) !important;
        }
    
    }

    //---------------------//
    // User defined blocks //
    //---------------------//

    .wp-user-block-awt-testimonials-carrousel {

        swiper-slide {

            & > .wp-block-columns:first-child {

                margin-bottom: 4rem;
                gap: 3rem;

                .wp-block-column:last-child {
                    
                    p {
                        margin: 0;
                    }
                    
                }
            }

            & > .wp-block-columns:last-child {

                gap: 3rem;

            }
        }
    }

    .wp-user-block-awt-case-study-summary {
        
        & > .wp-block-columns {
            gap: 12%;
            margin-bottom: 3rem;

            .wp-block-columns {
                margin-bottom: 0;
            }

            ul {

                margin-top: 1.5rem;

                li {
                    margin-bottom: 1rem;
                }
            }

            h5 {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        & > .wp-block-columns:first-child .wp-block-columns > .wp-block-column:last-child p {
            margin: 1rem 0 0;
        }
    }

    header {

        padding: var(--wp--preset--spacing--40) 4rem;

        &.scrolled {
            padding: 1rem 4rem;
        }

        &:not(.is-not-stacked-on-mobile) > .awt-header {

            & > .wp-block-column {

                width: auto;
                flex-basis: auto !important;

                li + li > a {

                    margin-left: 2rem; 
                    
                }

                li > a {
                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    footer {
        #newsletter {
            .wp-block-column {  
                padding: 3.5rem;
                #newsletter-form {
                    .awt-newsletter-fields {
                        flex-direction: row;
                        align-items: center;
                        p {
                            & > span.rss-and-fediverse-note {
                                position: absolute; 
                                bottom: -65%;
                            }
                        }
                    }
                }
            }

            
        }

        .wp-block-columns:nth-child(2) {
            .wp-block-column:last-child {
                justify-content: flex-end;

                .wp-block-awt-fork-awesome-icon {

                    &:first-child {   
                        margin-left: auto !important;
                    }
                }

            }
        }
    }

}

@include lg {
    body {
        --wp--preset--font-size--x-small: 14px;
        --wp--preset--font-size--small: 1rem;
        --wp--preset--font-size--medium: 1.5rem;
        --wp--preset--font-size--large: 2rem;
        --wp--preset--font-size--x-large: 3rem;
        --wp--preset--font-size--xx-large: 4rem;
    }


    .home {
        .home-about-p {
            max-width: 910px;
            margin-bottom: var(--wp--preset--spacing--60);
            font-size: var(--wp--preset--font-size--large) !important; 
        }

        .values-section {

            .wp-block-columns {
                gap: 8rem;
            } 

            .wp-block-columns:nth-child(2) {
                margin-bottom: 4rem;
            } 
        }

        #proyectos {
            .wp-block-column:last-child .wp-block-uagb-image .wp-block-uagb-image__figure img {
                width: auto;
                height: 485px;
            }
        }
    }
}