@import "../../assets/css/awt.scss";

// xs
.wp-block-awt-section {

    padding: 0 var(--wp--preset--spacing--20);
    background-color: var(--wp--preset--color--timberwolf);
    
    & > .container {
        height: 100%;
        width: 100%;
        max-width: var(--wp--style--global--content-size);
        margin: auto;
        padding: var(--wp--preset--spacing--40) 0;
    }
}

@include lg {

    .wp-block-awt-section {

        padding: 0 var(--wp--preset--spacing--80);

        & > .container {
            padding: var(--wp--preset--spacing--80) 0;
        }

    }
}