@import "../../assets/css/awt.scss";

// xs
.wp-block-awt-dropdown-card {

    display: flex; 
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-height: auto;
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
    margin-bottom: var(--wp--preset--spacing--10);
    border-radius: .5rem;
    transition: all .4s ease-in-out;

    &[data-collapsed="false"],
    &[data-collapsed="false"]:hover {
        background-color: var(--wp--preset--color--floral-white);
    }

    &:hover {
        background-color: #ebe5db;
    }
    
    & > .container {
        overflow: hidden;

        .wp-block-columns {
            margin-bottom: 0;
            
            .wp-block-uagb-image {
                display: inline-block;
                width: 2rem;
                height: 2rem;
            }
            
            .wp-block-awt-rich-text {
                display: inline-block;
                margin: 0 0 0 .5rem;
                font-size: 1.5rem;
                font-weight: 400;
            }

            .wp-block-column:nth-child(2) {
                padding-top: 1rem;

                p {
                    margin: 0;
                    line-height: 1.5rem;
                    font-weight: 300;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

    & > .dropdown-btn-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        align-self: center;
        height: 100%;
        width: 100%;
        flex-basis: 12%;

        button {
            width: 100%;
            height: 3.5rem;
            border-radius: .5rem;
            border: none;
            transition: all .4s ease-in-out;
            background-color: var(--wp--preset--color--persian-green);

            p {
                color: var(--wp--preset--color--floral-white);
                font-weight: 700;
                text-transform: uppercase;
            }

            img {
                display: none;
                width: 32px;
                height: 10px;
                transform: rotateZ(90deg);
                transition: all .4s ease-in-out;
            }
        }
    }

    &[data-collapsed="false"] {

        & > .container {

            .wp-block-columns {
                
                .wp-block-column:nth-child(2) {
    
                    p {
                        display: block;
                        -webkit-line-clamp: unset;
                        -webkit-box-orient: unset;
                    }
                }
            }
        }
    
        & > .dropdown-btn-container {
        
            img {
                transform: rotateZ(270deg);
            }
        }

    }
}

@include md {

    .wp-block-awt-dropdown-card {

        flex-direction: row;
        gap: 0;

        & > .container {

            flex-basis: 88%;
        
        }

        & > .dropdown-btn-container {

            width: unset;
            align-self: flex-end;

            button {
                width: 5rem;
                height: 5rem;
                border: 2px solid var(--wp--preset--color--persian-green);
                border-radius: 50%;
                transition: all .4s ease-in-out;
                background-color: transparent;

                p {
                    display: none;
                }
    
                img {
                    display: block;
                    width: 32px;
                    height: 10px;
                    margin: auto;
                    transform: rotateZ(90deg);
                }
            }
        }
    }

}