    
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

    <!-- wp:template-part {"slug":"hero-basic","tagName":"hero-imagete"} /-->

    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <div class="wp-block-group">

        <!-- wp:heading {"level": 2} -->
        <h2>Desarrollamos</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph --><p>Tenemos la capacidad técnica para desarrollar tu web desde cero. Trabajamos tanto con pequeños negocios como con entidades de grandes dimensiones, formando un equipo a la medida del proyecto.</p><!-- /wp:paragraph -->

        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
        <div class="wp-block-group">
            
            <!-- wp:columns -->
            <div class="wp-block-columns">
                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                    <div class="wp-block-group">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Desarrollo</h3>
                        <!-- /wp:heading -->
                       <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                    <div class="wp-block-group">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Acompañamiento</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                    <div class="wp-block-group">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Digitalización crítica</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->
       
    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <div class="wp-block-group">
        <!-- wp:columns -->
        <div class="wp-block-columns">
            <!-- wp:column {"width": "83.33%"} -->
            <div class="wp-block-column">
                <!-- wp:heading {level: 3} -->
                <h3>¿Tienes un proyecto digital y no sabes por dónde empezar?</h3>
                <!-- /wp:heading -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:buttons -->
                <div class="wp-block-buttons">
                    <!-- wp:button -->
                    <div class="wp-block-button"><a class="wp-block-button__link">💬 Cuéntanoslo</a></div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->
            </div>
            <!-- /wp:column -->

        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->


</main>
<!-- /wp:group -->