<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
    
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

    <!-- wp:group -->
    <div class="wp-block-group">

        <!-- wp:heading {"level": 2} -->
        <h2>Qué hacemos</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph --><p>Somos un estudio dedicado al desarrollo digital. Trabajamos de manera artesanal, a medida y de forma accesible, para que puedas entender lo que hay detrás de la tecnología que usas todos los días.</p><!-- /wp:paragraph -->

        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
        <div class="wp-block-group">
            
            <!-- wp:columns -->
            <div class="wp-block-columns">
                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                    <div class="wp-block-group">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Desarrollo</h3>
                        <!-- /wp:heading -->
                       <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                    <div class="wp-block-group">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Acompañamiento</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                    <div class="wp-block-group">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Digitalización crítica</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->

   </div>
   <!-- /wp:group -->

</main>
<!-- /wp:group -->