<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

    <!-- wp:template-part {"slug":"hero-home","tagName":"hero-home"} /-->

    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <section id="servicios" class="wp-block-group awt-section-container awt-has-texture awt-light-bg">
        <!-- wp:group {"layout":{"type":"constrained","allowOrientation":false}} -->
        <div class="wp-block-group">
    
            <!-- wp:heading {"level": 2,"textColor":"davys-grey"} -->
            <h2 class="has-davys-grey-color has-text-color">Qué hacemos</h2>
            <!-- /wp:heading -->
    
            <!-- wp:paragraph {"fontSize":"large"} --><p class="has-large-font-size awt-big-p">Somos un estudio dedicado al desarrollo digital. Trabajamos de manera artesanal, a medida y de forma accesible, para que puedas entender lo que hay detrás de la tecnología que usas todos los días.</p><!-- /wp:paragraph -->
    
            <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
            <div class="wp-block-group">
                
                <!-- wp:columns -->
                <div class="wp-block-columns">
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                        <div class="wp-block-group awt-service-card">
                            <!-- wp:group -->
                            <div class="wp-block-group awt-card-title">
                                <!-- wp:image -->
                                <figure class="wp-block-image"><img alt=""/></figure>
                                <!-- /wp:image -->
                                <!-- wp:heading {"level":3} -->
                                <h3>Desarrollo</h3>
                                <!-- /wp:heading -->
                            </div>
                            <!-- /wp:group -->
                           <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                            <!-- wp:buttons -->
                            <div class="wp-block-buttons awt-f-row-rev">                              
                                <!-- wp:button -->
                                <div class="wp-block-button"><a class="wp-block-button__link awt-link-button">Ver desarrollo</a></div>
                                <!-- /wp:button -->
                            </div>
                            <!-- /wp:buttons -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:column -->
    
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                        <div class="wp-block-group awt-service-card">
                            <!-- wp:group -->
                            <div class="wp-block-group awt-card-title">
                                <!-- wp:image -->
                                <figure class="wp-block-image"><img alt=""/></figure>
                                <!-- /wp:image -->
                                <!-- wp:heading {"level": 3} -->
                                <h3>Acompañamiento</h3>
                                <!-- /wp:heading -->
                            </div>
                            <!-- /wp:group -->
                            <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                            <!-- wp:buttons -->
                            <div class="wp-block-buttons awt-f-row-rev">                              
                                <!-- wp:button -->
                                <div class="wp-block-button"><a class="wp-block-button__link awt-link-button">Ver acompañamiento</a></div>
                                <!-- /wp:button -->
                            </div>
                            <!-- /wp:buttons -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:column -->
    
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                        <div class="wp-block-group awt-service-card">
                            <!-- wp:group -->
                            <div class="wp-block-group awt-card-title">
                                <!-- wp:image -->
                                <figure class="wp-block-image"><img alt=""/></figure>
                                <!-- /wp:image -->
                                <!-- wp:heading {"level": 3} -->
                                <h3>Digitalización</h3>
                                <!-- /wp:heading -->
                            </div>
                            <!-- /wp:group -->
                            <!-- wp:paragraph --><p>Desarrollamos páginas web, aplicaciones web y CMS. Te damos servicio técnico si ya cuentas con una infraestructura digital.</p><!-- /wp:paragraph -->
                            <!-- wp:buttons -->
                            <div class="wp-block-buttons awt-f-row-rev">                              
                                <!-- wp:button -->
                                <div class="wp-block-button"><a class="wp-block-button__link awt-link-button">Ver digitalización</a></div>
                                <!-- /wp:button -->
                            </div>
                            <!-- /wp:buttons -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
    
            </div>
            <!-- /wp:group -->
    
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->


    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <section id="valores" class="wp-block-group awt-section-container awt-has-texture awt-dark-bg">
        <!-- wp:group {"layout":{"type":"constrained","allowOrientation":false}} -->
        <div class="wp-block-group">
    
            <!-- wp:heading {"level": 2} -->
            <h2>Manifiesto</h2>
            <!-- /wp:heading -->
    
            <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
            <div class="wp-block-group">
                
                <!-- wp:columns -->
                <div class="wp-block-columns awt-values-row">
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img src="../assets/svg/v1.svg" alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Comunidad</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Generamos vínculos entre lxs integrantes del equipo de trabajo. Nos apoyamos mutuamente ya que trabajamos por cuenta propia.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:column -->
    
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img src="../assets/svg/v1.svg" alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Horizontalidad</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Preferimos hacer un reparto de responsabilidades explícito pero no fijo, adecuandose a la situación del equipo y del proyecto.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:column -->
    
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img src="../assets/svg/v1.svg" alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Software libre</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Como herramienta de trabajo, procurando devolver a la comunidad (nos queda trabajo por hacer). Divulgando sus beneficios, formando a terceros para su uso. Involucrándonos en sus comunidades.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
    
                <!-- wp:columns -->
                <div class="wp-block-columns awt-values-row">
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img src="../assets/svg/v1.svg" alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Autonomía</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Fomentar que los desarrollos realizados no generen dependencias innecesarias con las personas o entidades con las que trabajamos. Procuramos facilitar la usabilidad en diseño y desarrollo (interfaces).</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:column -->
    
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img src="../assets/svg/v1.svg" alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Igualdad salarial</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Tratar de equiparar el precio de la hora trabajada independientemente del ambito de trabajo dentro de equipo de amoved.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:column -->
    
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img src="../assets/svg/v1.svg" alt=""/></figure>
                        <!-- /wp:image -->
                        <!-- wp:heading {"level": 3} -->
                        <h3>Trabajo social digital</h3>
                        <!-- /wp:heading -->
                        <!-- wp:paragraph --><p>Realizamos pequeños trabajos no remunerados y socializamos recursos a entidades u organizaciones sin recursos para contratar servicios digitales.</p><!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
                
                
            </div>
            <!-- /wp:group -->
            
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->
    
    
    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <section id="proyectos" class="wp-block-group awt-light-bg awt-section-container">
        <!-- wp:group {"layout":{"type":"constrained","allowOrientation":false}} -->
        <div class="wp-block-group">
            <!-- wp:group -->
            <div class="wp-block-group">
                <!-- wp:heading {"level":2,"align":"wide","style":{"color":{"text":"var(--wp--preset--color--davys-grey)"}}} -->
                <h2 class="awt-mb-0" style="color:var(--wp--preset--color--davys-grey)">Desarrollamos proyectos digitales usando software libre.</h2>
                <!-- /wp:heading -->

                <!-- wp:heading {"level":3,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}, "color":{"text":"var(--wp--preset--color--davys-grey)"}},"fontSize":"large"} -->
                <h3 class="alignwide has-large-font-size awt-mt-20 awt-mb-80" style="font-style:normal;font-weight:300;color:var(--wp--preset--color--davys-grey)">Y estos son algunos ejemplos</h3>
                <!-- /wp:heading -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group -->
            <div class="wp-block-group swiper awt-projects-carrousel">
                <!-- wp:group -->
                <div class="swiper-wrapper">

                    <!-- wp:columns -->
                    <div class="wp-block-columns awt-mb-0 swiper-slide">
                        <!-- wp:column {"width":"25%"} -->
                        <div class="wp-block-column awt-pt-80 awt-pr-40" style="flex-basis:25%">
                            <!-- wp:image -->
                            <figure class="wp-block-image"><img alt=""/></figure>
                            <!-- /wp:image -->
                            <!-- wp:paragraph --><p>Participamos en el proceso de digitalización de Ecooo, la cooperativa que está revolucionando la energía solar.</p><!-- /wp:paragraph -->
                            <!-- wp:buttons -->
                            <div class="wp-block-buttons">
                                <!-- wp:button -->
                                <div class="wp-block-button"><a class="wp-block-button__link awt-link-button awt-pl-0">Ver caso de uso</a></div>
                                <!-- /wp:button -->
                            </div>
                            <!-- /wp:buttons -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column awt-pr-60">
                            <!-- wp:image -->
                            <figure class="wp-block-image awt-mb-0"><img alt=""/></figure>
                            <!-- /wp:image -->
                        </div>
                        <!-- /wp:column -->
                        
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:columns -->
                    <div class="wp-block-columns awt-mb-0 swiper-slide">
                        <!-- wp:column {"width":"25%"} -->
                        <div class="wp-block-column awt-pt-80 awt-pr-40" style="flex-basis:25%">
                            <!-- wp:image -->
                            <figure class="wp-block-image"><img alt=""/></figure>
                            <!-- /wp:image -->
                            <!-- wp:paragraph --><p>Participamos en el proceso de digitalización de Ecooo, la cooperativa que está revolucionando la energía solar.</p><!-- /wp:paragraph -->
                            <!-- wp:buttons -->
                            <div class="wp-block-buttons">
                                <!-- wp:button -->
                                <div class="wp-block-button"><a class="wp-block-button__link awt-link-button awt-pl-0">Ver caso de uso</a></div>
                                <!-- /wp:button -->
                            </div>
                            <!-- /wp:buttons -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column awt-pr-60">
                            <!-- wp:image -->
                            <figure class="wp-block-image awt-mb-0"><img alt=""/></figure>
                            <!-- /wp:image -->
                        </div>
                        <!-- /wp:column -->
                        
                    </div>
                    <!-- /wp:columns -->
                    
                </div>
                <!-- /wp:group -->
                
                <!-- wp:group -->
                <div class="swiper-button-next"></div>
                <!-- /wp:group -->
                <!-- wp:group -->
                <div class="swiper-pagination"></div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <section class="wp-block-group awt-dark-bg awt-section-container awt-last-dark-section">
        <!-- wp:group {"layout":{"type":"constrained","allowOrientation":false}} -->
        <div class="wp-block-group">
        
            <!-- wp:quote -->
            <blockquote class="wp-block-quote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis tellus cursus quam ultrices auctor. Ut iaculis ac mauris vitae egestas.</p></blockquote>
            <!-- /wp:quote -->
            
            <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
            <div class="wp-block-group awt-quote-footer">
                <!-- wp:columns -->
                <div class="wp-block-columns" style="width: 100%">
                    <!-- wp:column {"width": "12%"} -->
                    <div class="wp-block-column" style="flex-basis: 12%">
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:heading {"level": 5} -->
                        <h5>Teresa Fernández</h5>
                        <!-- /wp:heading -->
                        <!-- wp:heading {"level": 6} -->
                        <h6>MARKETING DIGITAL. ECOOO</h6>
                        <!-- /wp:heading -->
                    </div>
                    <!-- /wp:column -->

                </div>
                <!-- /wp:columns -->
            </div>
            <!-- /wp:group -->
        
            <!-- wp:heading {level: 2} -->
            <h2>Alianzas</h2>
            <!-- /wp:heading -->
            <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
            <div class="wp-block-group">
                <!-- wp:columns -->
                <div class="wp-block-columns">
                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column -->
                    <div class="wp-block-column">
                        <!-- wp:image -->
                        <figure class="wp-block-image"><img alt=""/></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:column -->

                </div>
                <!-- /wp:columns -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group -->
            <div id="newsletter" class="wp-block-group awt-banner">
                <!-- wp:heading {level: 2, "textColor":"white"} -->
                <h2 style="color:var(--wp--preset--color--white); max-width:60%">Además, tenemos una newsletter</h2>
                <!-- /wp:heading -->
                <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
                <div class="wp-block-group">
                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"width": "60%"} -->
                        <div class="wp-block-column" style="flex-basis:60%">
                        <!-- wp:paragraph {"fontSize":"medium"} --><p class="has-medium-font-size awt-m-0">Los proveedores digitales de la ESS queremos revolucionar el sector. ¿Quieres estar al día?</p><!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column {"width": "20%"} -->
                        <div class="wp-block-column" style="flex-basis:20%">
                        <!-- wp:html -->
                        <input type="text" placeholder="tu email">
                        <!-- /wp:html -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column">
                            <!-- wp:buttons -->
                            <div class="wp-block-buttons">
                                <!-- wp:button -->
                                <div class="wp-block-button"><a class="wp-block-button__link">💌 Apúntame</a></div>
                                <!-- /wp:button -->
                            </div>
                            <!-- /wp:buttons -->
                        </div>
                        <!-- /wp:column -->

                    </div>
                    <!-- /wp:columns -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

        </div>
        <!-- /wp:group -->
    </section>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->