<!-- wp:template-part {"slug":"header","UAGDay":[]} /-->

<!-- wp:awt/section-bg-video-home {"id":234} -->
<section class="wp-block-awt-section-bg-video-home"><video autoplay loop src="http://localhost:8000/wp-content/uploads/2023/04/hero.webm" class="bg-video"></video><div class="container row"><div class="col awt-col-12 awt-col-lg-10 awt-col-xl-8"><!-- wp:awt/rich-text {"level":1,"textColor":"custom-white"} -->
<h1 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Un taller digital <br>para tus proyectos</h1>
<!-- /wp:awt/rich-text -->

<!-- wp:awt/multiple-animated-rich-text -->
<div class="wp-block-awt-multiple-animated-rich-text"><div class="block-inner row"><div class="col"><!-- wp:awt/animated-rich-text {"level":3,"animationSteps":48,"textColor":"custom-white"} -->
<div class="wp-block-awt-animated-rich-text-container"><h3 class="wp-block-awt-animated-rich-text has-custom-white-color has-text-color" style="animation:animated-text 4.800000000000001s steps(48,end) 1s infinite,
		animated-cursor .8s ease-in-out infinite">Desarrollo web <strong>a medida </strong></h3></div>
<!-- /wp:awt/animated-rich-text -->

<!-- wp:awt/animated-rich-text {"level":3,"animationSteps":28,"textColor":"custom-white"} -->
<div class="wp-block-awt-animated-rich-text-container"><h3 class="wp-block-awt-animated-rich-text has-custom-white-color has-text-color" style="animation:animated-text 2.8000000000000003s steps(28,end) 1s infinite,
		animated-cursor .8s ease-in-out infinite">Software <strong>libre</strong></h3></div>
<!-- /wp:awt/animated-rich-text -->

<!-- wp:awt/animated-rich-text {"level":3,"animationSteps":72,"textColor":"custom-white"} -->
<div class="wp-block-awt-animated-rich-text-container"><h3 class="wp-block-awt-animated-rich-text has-custom-white-color has-text-color" style="animation:animated-text 7.2s steps(72,end) 1s infinite,
		animated-cursor .8s ease-in-out infinite">Infraestructura digital <strong>comunitaria</strong> </h3></div>
<!-- /wp:awt/animated-rich-text --></div></div></div>
<!-- /wp:awt/multiple-animated-rich-text -->

<!-- wp:block {"ref":100} /--></div></div></section>
<!-- /wp:awt/section-bg-video-home -->

<!-- wp:awt/section {"className":"services-section"} -->
<section class="wp-block-awt-section services-section"><div class="container"><!-- wp:awt/rich-text -->
<h2 class="wp-block-awt-rich-text">Qué hacemos</h2>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"className":"home-about-p","fontSize":"medium"} -->
<p class="home-about-p has-medium-font-size">Somos un estudio dedicado al desarrollo digital. Trabajamos con soluciones a medida de forma cercana y accesible, para que puedas entender lo que hay detrás de la tecnología que usas todos los días.</p>
<!-- /wp:paragraph -->

<!-- wp:columns {"className":"services-cards"} -->
<div class="wp-block-columns services-cards"><!-- wp:column {"className":"service-card"} -->
<div class="wp-block-column service-card"><!-- wp:uagb/image {"block_id":"23b9e444","url":"http://localhost:8000/wp-content/uploads/2023/04/desarrollo.png","id":230,"linkDestination":"none","naturalWidth":40,"naturalHeight":40,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-23b9e444 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/desarrollo.png " src="http://localhost:8000/wp-content/uploads/2023/04/desarrollo.png" alt="" class="uag-image-230" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3} -->
<h3 class="wp-block-awt-rich-text">Desarrollo</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph -->
<p>Desarrollamos páginas web, aplicaciones web y CMS. También te damos servicio técnico si ya cuentas con una infraestructura digital.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"right","className":"link-styled-btn"} -->
<p class="has-text-align-right link-styled-btn"><a href="http://localhost:8000/" data-type="page" data-id="6">VER DESARROLLO</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"className":"service-card"} -->
<div class="wp-block-column service-card"><!-- wp:uagb/image {"block_id":"e7717695","url":"http://localhost:8000/wp-content/uploads/2023/04/acompaniamiento.png","id":228,"linkDestination":"none","naturalWidth":40,"naturalHeight":40,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-e7717695 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/acompaniamiento.png " src="http://localhost:8000/wp-content/uploads/2023/04/acompaniamiento.png" alt="" class="uag-image-228" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3} -->
<h3 class="wp-block-awt-rich-text">Acompañamiento</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph -->
<p>Evaluamos y documentamos tu infraestructura digital. Te asesoramos y formamos para que puedas tomar decisiones y sigas trabajando de manera independiente.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"right","className":"link-styled-btn"} -->
<p class="has-text-align-right link-styled-btn"><a href="http://localhost:8000/" data-type="page" data-id="6">VER ACOMPAÑAMIENTO</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"className":"service-card"} -->
<div class="wp-block-column service-card"><!-- wp:uagb/image {"block_id":"7940cc5e","url":"http://localhost:8000/wp-content/uploads/2023/04/digitalizacion-critica.png","id":231,"linkDestination":"none","naturalWidth":40,"naturalHeight":40,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-7940cc5e wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/digitalizacion-critica.png " src="http://localhost:8000/wp-content/uploads/2023/04/digitalizacion-critica.png" alt="" class="uag-image-231" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3} -->
<h3 class="wp-block-awt-rich-text">Digitalización</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph -->
<p>Te apoyamos en la transición a herramientas de software libre, desde la fase de asesoramiento hasta la implementación en oficina, correo, videollamada, ERP y mucho más.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"right","className":"link-styled-btn"} -->
<p class="has-text-align-right link-styled-btn"><a href="http://localhost:8000/" data-type="page" data-id="6">VER DIGITALIZACIÓN</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></section>
<!-- /wp:awt/section -->

<!-- wp:awt/section {"backgroundColor":"onyx","className":"values-section"} -->
<section class="wp-block-awt-section values-section has-onyx-background-color has-background"><div class="container"><!-- wp:awt/rich-text {"textColor":"ash-grey"} -->
<h2 class="wp-block-awt-rich-text has-ash-grey-color has-text-color">Nuestros valores</h2>
<!-- /wp:awt/rich-text -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"f7704867","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-comunidad.png","id":237,"linkDestination":"none","naturalWidth":64,"naturalHeight":64,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-f7704867 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-comunidad.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-comunidad.png" alt="" class="uag-image-237" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3,"textColor":"custom-white"} -->
<h3 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Cooperación</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"textColor":"custom-white"} -->
<p class="has-custom-white-color has-text-color">Buscamos fortalecer las redes de cooperación dentro de la Economía Social y Solidaria con las comunidades de software libre, más allá de las pantallas.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"d8ad4fba","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-horizontalidad.png","id":238,"linkDestination":"none","naturalWidth":64,"naturalHeight":64,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-d8ad4fba wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-horizontalidad.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-horizontalidad.png" alt="" class="uag-image-238" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3,"textColor":"custom-white"} -->
<h3 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Horizontalidad</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"textColor":"custom-white"} -->
<p class="has-custom-white-color has-text-color">Preferimos hacer un reparto de responsabilidades explícito pero no fijo, adecuandose a la situación del equipo y del proyecto.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"afee38b4","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-sof-libre.png","id":242,"linkDestination":"none","naturalWidth":64,"naturalHeight":64,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-afee38b4 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-sof-libre.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-sof-libre.png" alt="" class="uag-image-242" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3,"textColor":"custom-white"} -->
<h3 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Cultura libre</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"textColor":"custom-white"} -->
<p class="has-custom-white-color has-text-color">Incentivamos el uso de herramientas y recursos con licencias libres (GPL, CopyLeft, etc.), procurando devolver aportaciones al común y evitando prácticas extractivistas.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"48aed1d2","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-autonomia.png","id":236,"linkDestination":"none","naturalWidth":65,"naturalHeight":65,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-48aed1d2 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-autonomia.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-autonomia.png" alt="" class="uag-image-236" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3,"textColor":"custom-white"} -->
<h3 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Autonomía</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"textColor":"custom-white"} -->
<p class="has-custom-white-color has-text-color">Fomentar que los desarrollos realizados no generen dependencias innecesarias con las personas o entidades con las que trabajamos. Procuramos facilitar la usabilidad en diseño y desarrollo (interfaces).</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"384327be","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-igualdad.png","id":239,"linkDestination":"none","naturalWidth":64,"naturalHeight":64,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-384327be wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-igualdad.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-igualdad.png" alt="" class="uag-image-239" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3,"textColor":"custom-white"} -->
<h3 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Artesanía digital</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"textColor":"custom-white"} -->
<p class="has-custom-white-color has-text-color">Entendemos nuestro trabajo como artesanía de oficio, trabajando con cuidado, a medida y de manera inclusiva con nuestros clientes en todas las fases del proyecto..</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"d7568558","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-trabajo-soc-dig.png","id":243,"linkDestination":"none","naturalWidth":64,"naturalHeight":64,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-d7568558 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-trabajo-soc-dig.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-trabajo-soc-dig.png" alt="" class="uag-image-243" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:awt/rich-text {"level":3,"textColor":"custom-white"} -->
<h3 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Trabajo social digital</h3>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"textColor":"custom-white"} -->
<p class="has-custom-white-color has-text-color">Realizamos pequeños trabajos no remunerados y socializamos recursos a entidades u organizaciones sin recursos para contratar servicios digitales.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></section>
<!-- /wp:awt/section -->

<!-- wp:awt/section {"className":"case-studies-section"} -->
<section class="wp-block-awt-section case-studies-section"><div class="container"><!-- wp:awt/rich-text -->
<h2 class="wp-block-awt-rich-text">Desarrollamos proyectos digitales usando software libre.</h2>
<!-- /wp:awt/rich-text -->

<!-- wp:paragraph {"className":"home-about-p","fontSize":"medium"} -->
<p class="home-about-p has-medium-font-size">Y estos son algunos ejemplos.</p>
<!-- /wp:paragraph -->

<!-- wp:awt/section-carrousel -->
<div class="wp-block-awt-section-carrousel"><swiper-container slides-per-view="1" navigation="false" pagination="false" loop autoplay scrollbar="false"><!-- wp:awt/section-carrousel-slide {"className":"swiper-slide"} -->
<swiper-slide><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:uagb/image {"block_id":"0044f8c7","url":"http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png","id":245,"linkDestination":"none","naturalWidth":160,"naturalHeight":43,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-0044f8c7 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png " src="http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png" alt="" class="uag-image-245" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image -->

<!-- wp:paragraph -->
<p>Participamos en el proceso de digitalización a Ecooo, la cooperativa que está revolucionando la energía solar.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":"link-styled-btn"} -->
<p class="link-styled-btn"><a href="http://localhost:8000/" data-type="page" data-id="6">ver caso de estudio</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"75%"} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:uagb/image {"block_id":"946f3d59","url":"http://localhost:8000/wp-content/uploads/2023/04/ecooo_mobile.png","align":"right","id":251,"linkDestination":"none","naturalWidth":788,"naturalHeight":502,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image alignright uagb-block-946f3d59 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-right"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ecooo_mobile.png " src="http://localhost:8000/wp-content/uploads/2023/04/ecooo_mobile.png" alt="" class="uag-image-251" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></swiper-slide>
<!-- /wp:awt/section-carrousel-slide --></swiper-container></div>
<!-- /wp:awt/section-carrousel --></div></section>
<!-- /wp:awt/section -->

<!-- wp:awt/section {"backgroundColor":"davys-grey","className":"last-section"} -->
<section class="wp-block-awt-section last-section has-davys-grey-background-color has-background"><div class="container"><!-- wp:awt/section-carrousel {"loop":true,"autoplay":true,"navigation":false,"pagination":false,"className":"wp-user-block-awt-testimonials-carrousel"} -->
<div class="wp-block-awt-section-carrousel wp-user-block-awt-testimonials-carrousel"><swiper-container slides-per-view="1" loop autoplay scrollbar="false"><!-- wp:awt/section-carrousel-slide -->
<swiper-slide><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"8%"} -->
<div class="wp-block-column" style="flex-basis:8%"><!-- wp:uagb/image {"block_id":"d86a12d5","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-quote.png","id":241,"linkDestination":"none","naturalWidth":97,"naturalHeight":80,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-d86a12d5 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-quote.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-quote.png" alt="" class="uag-image-241" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"60%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:60%"><!-- wp:paragraph {"textColor":"custom-white","fontSize":"large"} -->
<p class="has-custom-white-color has-text-color has-large-font-size"><em>entendieron y supieron plasmar las necesidades de Ecooo en un proyecto muy ajustado a nuestra realidad.</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"8%"} -->
<div class="wp-block-column" style="flex-basis:8%"></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"99f3c790","url":"http://localhost:8000/wp-content/uploads/2023/04/Carlos-1024x928.webp","id":229,"linkDestination":"none","naturalWidth":1024,"naturalHeight":928,"sizeSlug":"large","sizeSlugTablet":"large","sizeSlugMobile":"large","imageBorderTopLeftRadius":50,"imageBorderTopRightRadius":50,"imageBorderBottomLeftRadius":50,"imageBorderBottomRightRadius":50,"imageBorderRadiusUnit":"%"} -->
<div class="wp-block-uagb-image uagb-block-99f3c790 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/Carlos-1024x928.webp " src="http://localhost:8000/wp-content/uploads/2023/04/Carlos-1024x928.webp" alt="" class="uag-image-229" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:awt/rich-text {"level":4,"textColor":"custom-white","fontSize":"medium"} -->
<h4 class="wp-block-awt-rich-text has-custom-white-color has-text-color has-medium-font-size">Teresa Fernández</h4>
<!-- /wp:awt/rich-text -->

<!-- wp:awt/rich-text {"level":5,"textColor":"ash-grey","fontSize":"small"} -->
<h5 class="wp-block-awt-rich-text has-ash-grey-color has-text-color has-small-font-size">Marketing Digital en Ecooo</h5>
<!-- /wp:awt/rich-text --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></swiper-slide>
<!-- /wp:awt/section-carrousel-slide -->

<!-- wp:awt/section-carrousel-slide -->
<swiper-slide><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"8%"} -->
<div class="wp-block-column" style="flex-basis:8%"><!-- wp:uagb/image {"block_id":"a6cb0cb7","url":"http://localhost:8000/wp-content/uploads/2023/04/ico-quote.png","id":241,"linkDestination":"none","naturalWidth":97,"naturalHeight":80,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image uagb-block-a6cb0cb7 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/ico-quote.png " src="http://localhost:8000/wp-content/uploads/2023/04/ico-quote.png" alt="" class="uag-image-241" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"60%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:60%"><!-- wp:paragraph {"textColor":"custom-white","fontSize":"large"} -->
<p class="has-custom-white-color has-text-color has-large-font-size"><em>entendieron y supieron plasmar las necesidades de Ecooo en un proyecto muy ajustado a nuestra realidad.</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"8%"} -->
<div class="wp-block-column" style="flex-basis:8%"></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"c3bf47df","url":"http://localhost:8000/wp-content/uploads/2023/04/Luis.webp","id":246,"linkDestination":"none","naturalWidth":1017,"naturalHeight":1023,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full","imageBorderTopLeftRadius":50,"imageBorderTopRightRadius":50,"imageBorderBottomLeftRadius":50,"imageBorderBottomRightRadius":50,"imageBorderRadiusUnit":"%"} -->
<div class="wp-block-uagb-image uagb-block-c3bf47df wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/Luis.webp " src="http://localhost:8000/wp-content/uploads/2023/04/Luis.webp" alt="" class="uag-image-246" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:awt/rich-text {"level":4,"textColor":"custom-white","fontSize":"medium"} -->
<h4 class="wp-block-awt-rich-text has-custom-white-color has-text-color has-medium-font-size">Teresa Fernández</h4>
<!-- /wp:awt/rich-text -->

<!-- wp:awt/rich-text {"level":5,"textColor":"ash-grey","fontSize":"small"} -->
<h5 class="wp-block-awt-rich-text has-ash-grey-color has-text-color has-small-font-size">Marketing Digital en Ecooo</h5>
<!-- /wp:awt/rich-text --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></swiper-slide>
<!-- /wp:awt/section-carrousel-slide --></swiper-container></div>
<!-- /wp:awt/section-carrousel -->

<!-- wp:awt/rich-text {"textColor":"ash-grey"} -->
<h2 class="wp-block-awt-rich-text has-ash-grey-color has-text-color">Alianzas</h2>
<!-- /wp:awt/rich-text -->

<!-- wp:columns {"className":"partners-container"} -->
<div class="wp-block-columns partners-container"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"eb6a5d89","url":"http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png","align":"center","id":244,"linkDestination":"none","naturalWidth":130,"naturalHeight":53,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image aligncenter uagb-block-eb6a5d89 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-center"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png " src="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png" alt="" class="uag-image-244" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"ec2eecd5","url":"http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png","align":"center","id":245,"linkDestination":"none","naturalWidth":160,"naturalHeight":43,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image aligncenter uagb-block-ec2eecd5 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-center"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png " src="http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png" alt="" class="uag-image-245" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"7b074bf3","url":"http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png","align":"center","id":244,"linkDestination":"none","naturalWidth":130,"naturalHeight":53,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image aligncenter uagb-block-7b074bf3 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-center"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png " src="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png" alt="" class="uag-image-244" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"0a06b35f","url":"http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png","align":"center","id":245,"linkDestination":"none","naturalWidth":160,"naturalHeight":43,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image aligncenter uagb-block-0a06b35f wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-center"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png " src="http://localhost:8000/wp-content/uploads/2023/04/logo-ecoo.png" alt="" class="uag-image-245" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:uagb/image {"block_id":"89d66059","url":"http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png","align":"center","id":244,"linkDestination":"none","naturalWidth":130,"naturalHeight":53,"sizeSlug":"full","sizeSlugTablet":"full","sizeSlugMobile":"full"} -->
<div class="wp-block-uagb-image aligncenter uagb-block-89d66059 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-center"><figure class="wp-block-uagb-image__figure"><img srcset="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png " src="http://localhost:8000/wp-content/uploads/2023/04/logo-descripcion-transparente.png" alt="" class="uag-image-244" width="" height="" title="" loading="lazy"/></figure></div>
<!-- /wp:uagb/image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"backgroundColor":"persian-green","className":"newsletter hidden"} -->
<div class="wp-block-columns newsletter hidden has-persian-green-background-color has-background"><!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"60%"} -->
<div class="wp-block-column" style="flex-basis:60%"><!-- wp:awt/rich-text {"textColor":"custom-white"} -->
<h2 class="wp-block-awt-rich-text has-custom-white-color has-text-color">Además tenemos una newsletter</h2>
<!-- /wp:awt/rich-text --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top"} -->
<div class="wp-block-column is-vertically-aligned-top"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"60%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:60%"><!-- wp:paragraph {"textColor":"custom-white","fontSize":"medium"} -->
<p class="has-custom-white-color has-text-color has-medium-font-size">Súmate a nuestra newsletter sobre proveedores digitales de la ESS.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top"} -->
<div class="wp-block-column is-vertically-aligned-top"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">💌 APÚNTAME</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></section>
<!-- /wp:awt/section -->