<!-- wp:template-part {"slug":"header","UAGDay":[]} /-->

<!-- wp:awt/section-hero-post {"backgroundColor":"persian-green"} -->
<section class="wp-block-awt-section-hero-post has-persian-green-background-color has-background"><div class="container row"><div class="col awt-col-12"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"42%"} -->
<div class="wp-block-column" style="flex-basis:42%"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-excerpt /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom","width":"58%"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:58%"><!-- wp:post-featured-image /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></div></section>
<!-- /wp:awt/section-hero-post -->

<!-- wp:awt/section -->
<section class="wp-block-awt-section"><div class="container"><!-- wp:post-content /--></div></section>
<!-- /wp:awt/section -->

<!-- wp:template-part {"slug":"footer"} /-->