.wp-block-awt-animated-rich-text {

    width: auto;
    white-space: nowrap !important;
    border-right: solid 4px var(--wp--preset--color--persian-green);
    animation:  none;

    // TODO: here we add same animation params to all elements in editor, make it parametrized as in save.js
    &.is-not-selected {
        animation:  animated-text 8s steps(60,end) 1s infinite,
                    animated-cursor .8s ease-in-out infinite;
    }
      
}
  

  