@keyframes animated-text {
  0%{width: 0;}
  40%{width: 100%;}
  60%{width: 100%;}
  100%{width: 0;}
}

@keyframes animated-cursor {
  from{border-right-color: var(--wp--preset--color--persian-green);}
  to{border-right-color: transparent;}
}

.wp-block-awt-animated-rich-text {
  width: 0;
  border-right: solid 4px var(--wp--preset--color--persian-green);
  white-space: nowrap !important;
  overflow: hidden;    
}

.wp-block-awt-animated-rich-text-container{
  width: min-content;
}
